<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="starter-template text-center py-5 px-3">
    <form action="#" method ="POST"  th:action ="@{/q344522/entry}" th:object="${formEntity}">
        <h1>Bootstrap</h1>
        <label>作業日時</label>
        <!--        <input type ="datetime-local"name ="created" th:value ="*{created}">-->
        <input type="datetime-local" name ="created">

        <label>開始時刻</label>
        <input type ="time" name ="startTime" th:value ="*{startTime}">

        <label>終了時刻</label>
        <input type ="time" name ="endTime" th:value ="*{endTime}">

        <br/>
        <div class="d-grid gap-2">
<!--            <input th:if ="${dailyReportId}" type ="hidden"  th:value ="${dailyReportId}" name ="dailyReportId">-->
            <button type="submit" class ="btn btn-primary">登録</button>
        </div>
    </form>

</div>

</body>
</html>